* {
    box-sizing: border-box; /* Garante que o padding não aumente a largura dos elementos */
}

html{
       font-size: 62.5%;
}
body{
    background-color: #3d3d3d;
    width: 40%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 120%;
    max-width: 500px;
}

fieldset{
    border: none;
    background-color: #1b1b1b;
    margin-top: 5rem;
}

h1{
    text-align: center;
    color: white;
}
input, textarea{
    display: block;
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: #1a1a1a;
    margin-bottom: 1.6rem;
    border: none;
    background-color: #272727;
    color: white;
    
}

input:hover, textarea:hover{
    background-color: #3d3d3d;

}

input:focus, textarea:focus{
    border-bottom: solid 3px white;
}


label{
    font-size: 1.1rem;
    color: white;
    
    
}

button{
  padding: .8rem;  
  border-radius: 8px;
  background-color: #272727;
  color: white;
  text-decoration: none;
  border: none;
  display: flex;
  margin-left: auto;

}